.cdk-overlay-pane {
  max-width: 500px;
}
.btn-group {
  display: flex;
  justify-content: space-between;
}
button {
  width: 45%;
}
@media only screen and (max-width: 500px) {
  .cdk-overlay-pane {
    max-width: 80%;
  }
}
