<button 
  mat-raised-button 
  color="primary"
  (click)="showUpcomingTest()">
  <img src="assets/icon/event_available-white-18dp.svg" alt="analytics" width="25">
  Up coming test
</button>
<button 
  mat-raised-button 
  color="primary"
  (click)="createTest()">
  <img src="assets/icon/create-white-18dp.svg" alt="analytics" width="25">
  Create new test
</button>
<button 
  mat-raised-button 
  color="primary"
  (click)="classList()">
  <img src="assets/icon/create-white-18dp.svg" alt="analytics" width="25">
  My class list
</button>
<!-- <button 
  mat-raised-button 
  color="primary"
  (click)="createClass()">
  <img src="assets/icon/create-white-18dp.svg" alt="analytics" width="25">
  Create New Class
</button> -->
<button 
  mat-raised-button 
  color="primary"
  (click)="studentPerform()">
  <img src="assets/icon/analytics-white-18dp.svg" alt="analytics" width="25">
  Student performance
</button>
<app-loading-spinner *ngIf="isSpinner"></app-loading-spinner>