<form class="example-form">
  <!-- class and subject -->
  <mat-card class="row">
    <mat-form-field class="col-lg-3 col-md-3 col-6" appearance="fill">
      <mat-label>Select Class</mat-label>
      <mat-select>
        <mat-option selected disabled>None</mat-option>
        <mat-option value="9">9</mat-option>
        <mat-option value="8">8</mat-option>
        <mat-option value="7">7</mat-option>
        <mat-option value="6">6</mat-option>
        <mat-option value="5">5</mat-option>
        <mat-option value="4">4</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-md-3 col-6" appearance="fill">
      <mat-label>Select Subject</mat-label>
      <mat-select>
        <mat-option selected disabled>None</mat-option>
        <mat-option value="9">Maths</mat-option>
        <mat-option value="8">Science</mat-option>
        <mat-option value="7">Hindi</mat-option>
        <mat-option value="6">Geography</mat-option>
        <mat-option value="5">History</mat-option>
        <mat-option value="4">Language</mat-option>
        <mat-option value="3">Literature</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-md-3 col-6" appearance="fill">
      <mat-label>No of Questions</mat-label>
      <mat-select>
        <mat-option selected disabled>--</mat-option>
        <mat-option value="9">9</mat-option>
        <mat-option value="8">8</mat-option>
        <mat-option value="7">7</mat-option>
        <mat-option value="6">6</mat-option>
        <mat-option value="5">5</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="3">3</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-md-3 col-6" appearance="fill">
      <mat-label>Each Question Mark</mat-label>
      <mat-select>
        <mat-option selected disabled>None</mat-option>
        <mat-option value="9">9</mat-option>
        <mat-option value="8">8</mat-option>
        <mat-option value="7">7</mat-option>
        <mat-option value="6">6</mat-option>
        <mat-option value="5">5</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="3">3</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
  <br>
  <!-- exam date and time -->
  <mat-card class="row">
    <mat-form-field class="col-lg-3 col-md-3 col-6" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <!-- <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->
        <!-- <img src="assets/icon/create-white-18dp.svg" alt="analytics" width="25"> -->
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-md-3 col-6" appearance="fill">
      <mat-label>Start Time</mat-label>
      <input matInput type="time">
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-md-3 col-6" appearance="fill">
      <mat-label>End Time</mat-label>
      <input matInput type="time">
    </mat-form-field>
  </mat-card>
  <!-- show test card -->
  <button 
    type="submit"
    class="add-new-test"
    mat-raised-button 
    color="primary"
    (click)="addEditModal()"
    >
    <img src="assets/icon/create-white-18dp.svg" alt="analytics" width="25">
    Add new question
  </button>
  <div class="row test-card">
    <div 
      class="col-lg-3 col-md-4 col-12"
      *ngFor="let eachQuestion of allQuestions; let i = index">
    <mat-card>
      <h5>
        <b>Q.{{i + 1}}: </b>
        {{ eachQuestion.question }}</h5>
      <!-- <mat-divider></mat-divider> -->
        <p 
          class="mat-raised-button w-100"
          [ngClass]="{'mat-primary': eachQuestion.correct === 'A'}">
          <b>A.</b> {{eachQuestion.ans1}}</p>
        <p 
          class="mat-raised-button w-100"
          [ngClass]="{'mat-primary': eachQuestion.correct === 'B'}">
          <b>B.</b> {{eachQuestion.ans2}}</p>
        <p 
          class="mat-raised-button w-100"
          [ngClass]="{'mat-primary': eachQuestion.correct === 'C'}">
          <b>C.</b> {{eachQuestion.ans3}}</p>
        <p 
          class="mat-raised-button w-100"
          [ngClass]="{'mat-primary': eachQuestion.correct === 'D'}">
          <b>D.</b> {{eachQuestion.ans4}}</p>
      <div class="answer-div" style="display: flex; justify-content: space-between;">
        <p>Correct answer: <b>{{eachQuestion.correct}}</b></p>
        <div class="nnn">
          <button 
            mat-raised-button 
            color="primary"
            (click)="editEachQuestion(i)"
            >
            <svg _ngcontent-kgt-c33="" _ngcontent-riw-c51="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="edit" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="svg-inline--fa fa-edit fa-w-18 ng-tns-c33-0"><path _ngcontent-kgt-c33="" _ngcontent-riw-c51="" fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" class="ng-tns-c33-0"></path></svg>
          </button>
          |
          <button 
            mat-raised-button 
            color="warn"
            (click)="deleteModal(i)">
            <svg _ngcontent-kgt-c33="" _ngcontent-riw-c51="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="" class="svg-inline--fa fa-trash-alt fa-w-14 ng-tns-c33-0"><path _ngcontent-kgt-c33="" _ngcontent-riw-c51="" fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z" class="ng-tns-c33-0"></path></svg>
          </button>
        </div>
      </div>
    </mat-card>
  </div>
  </div>
  <button 
    type="submit"
    class="btn-submit"
    mat-raised-button 
    color="primary">
    <img src="assets/icon/create-white-18dp.svg" alt="analytics" width="25">
    Submit
  </button>
  <div 
    class="no-of-ques"
    *ngIf="allQuestions.length > 0">
    {{ allQuestions.length }}
  </div>
</form>