<mat-form-field appearance="fill" class="w-100">
  <mat-label>Select a Class</mat-label>
  <mat-select [(value)]="selected" #class ngModel>
    <mat-option value="null">select class</mat-option>
    <mat-option value="9">9</mat-option>
    <mat-option value="8">8</mat-option>
    <mat-option value="7">7</mat-option>
    <mat-option value="6">6</mat-option>
    <mat-option value="5">5</mat-option>
  </mat-select>
</mat-form-field>

<!-- <p>You selected Class: {{selected}}</p> -->

<mat-divider class="my-10"></mat-divider>

<button mat-raised-button color="warn" class="my-10">No results</button>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">

  <!-- Position Column -->
  <ng-container matColumnDef="rollNum">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-15">Roll No.</th>
    <td mat-cell *matCellDef="let element"> {{element.rollNum}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="markScored">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-15">Marks</th>
    <td mat-cell *matCellDef="let element"> {{element.markScored}} </td>
  </ng-container>

  <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

