.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-100 {
  width: 100%;
}
th {
  top: 64px !important;
  position: sticky !important;
  z-index: 100 !important;
}
.mat-sort-header-arrow {
  color: #fff;
}
.mat-header-row th {
  background: #6495ed;
  color: #ffffff;
  font-size: 16px;
  text-shadow: 1px 1px 2px #444;
}
.mat-row:nth-child(odd) {
  background-color: #f4f4f4;
}
@media only screen and (max-width: 500px) {
  th {
    top: 56px !important;
    font-size: 14px !important;
  }
}
