mat-card {
  margin-bottom: 10px;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.row > div {
  padding-left: 10px;
  padding-right: 10px;
}
* {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.top-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 5px;
}
.top-info > button {
  width: 24%;
  margin: 0 0% 10px;
}
h4 {
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 5px;
}
.radio-hide {
  position: fixed;
  top: -999999999999px;
  left: -999999999999px;
  opacity: 0;
  visibility: hidden;
}
.eachTestCard-div {
  max-width: 500px;
  margin: auto;
}
label {
  display: block !important;
}
label.btn-light {
  /* color: #111 !important;
  background-color: #f4f4f4 !important; */
}
.radio-hide:checked + label {
  color: #fff !important;
  background-color: #28a745 !important;
}
.slider-div {
  /* display: flex;
  justify-content: center; */
  text-align: center;
  margin: 0 auto 10px;
}
.slider-div button {
  width: 20%;
}
.div-info {
  display: flex;
  justify-content: space-between;
}
.btn-submit {
  display: block;
  margin: 0 auto;
}
mat-progress-bar {
  margin-bottom: 10px;
}
.submit-modal-div {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  background: #f0ffffa1;
  overflow: hidden;
}
.submit-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  outline: 0;
  height: auto;
  width: auto;
  min-height: inherit;
  max-height: inherit;
  text-align: center;
}
.submit-modal p {
  margin: 0;
}
.div-btn {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0;
}
@media only screen and (max-width: 500px) {
  .top-info > button {
    width: 48%;
  }
}
