<button
  *ngIf="testInfoList.length <= 0"
  type="button"
  mat-raised-button
  class="btn-danger">No Upcoming test found!</button>
<mat-card
  *ngFor="let eachTestInfoList of testInfoList, let i = index"
  (click)="viewTestInfo(i)"
  style="cursor: pointer;">
  <!-- <div class="card-info-div"> -->
    <div>
      Class: {{eachTestInfoList.selectClass}}
      <br>
      subject: {{eachTestInfoList.subject}}
      <br>
      No of Ques: {{eachTestInfoList.noOfQues}}
      <br>
      Each Ques Marks: {{eachTestInfoList.eachQuesMark}}
    </div>
    <div>
      Exam Date: {{eachTestInfoList.examDate | date}}
      <br>
      Full Marks: {{eachTestInfoList.noOfQues * eachTestInfoList.eachQuesMark}}
      <br>
      Start Time: {{eachTestInfoList.startTime}}
      <br>
      End Time: {{eachTestInfoList.endTime}}
    </div>
  <!-- </div> -->
</mat-card>