<mat-card>
  <div>
    Class: 6
    <br>
    No of Ques: 20
    <br>
    Start Time: 09:00 AM
  </div>
  <div>
    Subject: History
    <br>
    Full Marks: 20
    <br>
    End Time: 10:00 AM
  </div>
</mat-card>
<mat-card>
  <div>
    Class: 6
    <br>
    No of Ques: 20
    <br>
    Start Time: 09:00 AM
  </div>
  <div>
    Subject: History
    <br>
    Full Marks: 20
    <br>
    End Time: 10:00 AM
  </div>
</mat-card>
<mat-card>
  <div>
    Class: 6
    <br>
    No of Ques: 20
    <br>
    Start Time: 09:00 AM
  </div>
  <div>
    Subject: History
    <br>
    Full Marks: 20
    <br>
    End Time: 10:00 AM
  </div>
</mat-card>