.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
mat-expansion-panel {
  margin-bottom: 5px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table,
tr,
th,
td {
  border: 1px solid #999;
}
tr {
  height: 30px;
}

th,
td {
  text-align: left;
  padding-left: 10px;
}
th {
}
td {
}
.mat-expansion-panel-header-description {
  flex-grow: 0;
}
.exp-btn-div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.exp-btn-div span {
  margin: auto 8px;
  border-left: 1px solid #b1b1b1;
  content: "";
  display: block;
  width: 1px;
  height: 25px;
}
