<form 
  class="example-form add-class"
  (ngSubmit)="onSubmit(f)"
  #f="ngForm">
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Select a Class</mat-label>
    <mat-select [(ngModel)]="selectClass" name="selectClass" required>
      <mat-option value="null">select class</mat-option>
      <mat-option value="9">9</mat-option>
      <mat-option value="8">8</mat-option>
      <mat-option value="7">7</mat-option>
      <mat-option value="6">6</mat-option>
      <mat-option value="5">5</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card>
    <table class="table">
      <thead>
        <tr>
          <th style="width: 15%;">Roll No</th>
          <th style="width: 35%;">Student Name</th>
          <th style="width: 35%;">Password</th>
          <th style="width: 7.5%;">Copy</th>
          <th style="width: 7.5%;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of allClassList; let i = index" [ngModelGroup]="i">
          <td>
            <input 
              class="form-control" 
              type="text" 
              name="rollNo{{i}}"
              [value]="i+1" 
              required
              [(ngModel)]="student.rollNo"></td>
          <td>
            <input 
              class="form-control" 
              type="text" 
              name="studentName{{i}}"
              [value]="student.studentName" 
              required
              [(ngModel)]="student.studentName"></td>
          <td>
            <input 
              class="form-control" 
              type="text" 
              name="studentPassword{{i}}"
              [value]="student.studentPassword" 
              required
              [(ngModel)]="student.studentPassword"></td>
          <td>
            <button 
              type="button" 
              class="btn btn-primary"
              (click)="copyInputMessage(i)">
            <img src="assets/icon/fa-clipboard.svg" alt="Copy to clipboard">
          </button></td>
          <td>
            <button 
              type="button"
              class="btn btn-danger"
              (click)="removeStudent(i)"
              [ngClass]="{'btn-secondary': allClassList.length===1}"
              [disabled]="allClassList.length===1">
            <img src="assets/icon/fa-trash.svg" alt="Remove Student">
          </button></td>
        </tr>
      </tbody>
    </table>
    <button
      mat-raised-button
      color="primary"
      type="button"
      class="add-student"
      (click)="addClassList()">
      <img src="assets/icon/fa-plus.svg" alt="Add class"> 
      Add Student
    </button>
    <br>
    <small style="opacity: .7;">Click on copy icon to copy the respective Student's Roll no, Name, Password.</small>
  </mat-card>
  <br>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!f.valid"
    style="display: block;">Add Class</button>
</form>