/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* gloabla css */
.mat-typography .my-10 {
  margin: 10px 0;
}
.mat-typography .w-100 {
  width: 100%;
}
.mat-typography .mb-0 {
  margin-bottom: 0;
}
mat-option span,
mat-label {
  user-select: none;
}
.col-primary {
  color: #3f51b5 !important;
}
.btn-secondary {
  background-color: #6c757d !important;
  color: #fff !important;
}
.btn-danger {
  background-color: #dc3545 !important;
  color: #fff !important;
}
.btn-warning {
  color: #212529 !important;
  background-color: #ffc107 !important;
}
.btn-dark {
  background-color: #343a40 !important;
  color: #fff !important;
}
.btn-success {
  color: #fff !important;
  background-color: #28a745 !important;
}
.user-select-none {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
